<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Karaktero</title>

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
  <link rel="manifest" href="favicon/site.webmanifest" />

  <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div id="app">
    <header id="header">Karaktero</header>
    <section id="toolbar" template v-if="!title">
      <section style="display:grid; grid-template-columns: 1fr auto;">
        <section>
          <label>Race</label>
          <div class="flex flex-wrap">
            <select v-model="race" class="flex-1">
              <option v-for="race in orderByKey(Object.values(races), 'name')" v-bind:value="race.key">
                {{capitalize(race.name)}}
              </option>
            </select>
            <div v-if="races[race].hasBonusAbility" class="ml-1">
              <label>Bonus caractéristique</label>
              <select v-model="raceAbilityBonus">
                <option
                  v-for="ability in (races[race].allowAbilities ?? except(abilities, Object.keys(races[race].ability)))"
                  v-bind:value="ability">
                  {{capitalize(translateAbility(ability))}} +2
                </option>
              </select>
            </div>
          </div>

          <label>Classe</label>
          <div class="flex flex-wrap">
            <select v-model="vocation" class="flex-1">
              <option v-for="vocation in orderByKey(Object.values(classes), 'name')" v-bind:value="vocation.key">
                {{capitalize(vocation.name)}}
              </option>
            </select>
          </div>

          <i>{{ classes[vocation].description }}</i>

        </section>
        <section v-if="!['dryad', 'halfDrow'].includes(race)">
          <img class="ml-1" :alt="races[race].name"
            :src="'https://www.pathfinder-fr.org/wiki/public/upload/Illustrations/PNJ/' + races[race].name + '.jpg'" />
        </section>
      </section>

      <!-- 
      <label>Alignement</label>
      <select v-model="alignment">
        <option v-for="alignment in alignments" v-bind:value="alignment">
          {{translateAlignment(alignment)}}
        </option>
      </select> -->

      <label>Jeunesse</label>
      <select v-model="backgroundAbility">
        <option v-for="background in Object.keys(backgrounds)" v-bind:value="background">
          {{ Object.values(backgrounds[background]).map(v => v < 10 ? '&nbsp;' + v : v.toString()).join(", ") }} =>
            {{translateBackground(background)}}
          </option>
        </select>
        <template
          v-if=" ['witch', 'rogue' , 'warpriest' , 'druid', 'brawler' ].includes(classes[vocation].key)">
            <label>Niveau</label>
            <select v-model="level">
              <option v-for="level in levels" v-bind:value="level">
                {{level}}
              </option>
            </select>
            </template>

            <label>Nom</label>
            <input type="text" v-model="nickname" />
    </section>
    <div class="BD">
      <div style="display:grid; grid-template-columns: 1fr auto; gap: 8px; position: relative;">
        <section style="grid-row: 1; grid-column: 1">
          <div class="BDtitre">
            {{ (!!title) ? title : ((!!nickname) ? nickname : (races[race].id &&
            classes[vocation].id ? races[race].id + classes[vocation].id :
            'Simon')) }}
          </div>

          <div class="BDtexte">
            <a class="pagelink capitalize"
              :href="'https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.' + races[race].name + '.ashx'">{{races[race].name}}</a>
            <a class="pagelink capitalize"
              :href="'https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.' + classes[vocation].name + '.ashx'"
              v-bind:title="classes[vocation].description">{{classes[vocation].name}}</a>
            de niveau {{level}}
          </div>
          <div class="BDtexte">
            <a class="pagelink" href="https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.type%20Humano%c3%afde.ashx"
              title="Humanoïde">Humanoïde</a>
            de taille {{ races[race].size ?? "M"}}
            <!-- ,
        <a class="pagelink" href="https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.Alignement.ashx"
          title="alignment">{{translateAlignment(alignment)}}</a> -->
          </div>
          <div class="BDtexte">
            <b><abbr title="Initiative">Init</abbr></b> {{initiative()}}
            <template v-if="custom?.divinity"><b><abbr title="Divinité">Divi</abbr></b>
              {{this.custom?.divinity}}</template>
          </div>

          <div class="BDsoustitre">Défense</div>
          <div class="BDtexte">
            <b><abbr title="Classe d'Armure">CA</abbr></b>&nbsp;{{ac(classes[vocation].armor.bonus,
            classes[vocation].shield?.bonus ??
            0)}}, contact&nbsp;{{touch()}}, pris au dépourvu&nbsp;{{flatFooted(classes[vocation].armor.bonus,
            classes[vocation].shield?.bonus ?? 0)}} (armure&nbsp;{{forceSymbol(classes[vocation].armor.bonus)}},
            <template
              v-if="(classes[vocation].shield?.bonus ?? 0) > 0">bouclier&nbsp;{{forceSymbol(classes[vocation].shield?.bonus
              ??
              0)}}, </template>Dex&nbsp;{{forceSymbol(dex())}}
            <template v-if="classes[vocation].acAbility === 'wis'">, Sag {{forceSymbol(wis())}}</template>)
          </div>
          <div class="BDtexte">
            <b><abbr title="Points de Vie. Quand tu n'en as plus, tu es cuit.">PV</abbr></b>&nbsp;{{hp(vocation)}}
            (1d{{classes[vocation].hitDice}}{{forceSymbol(con())}})
          </div>
          <div class="BDtexte">
            <b><abbr title="Réflexe">Réf</abbr></b>&nbsp;{{forceSymbol(reflex())}},
            <b><abbr title="Vigueur">Vig</abbr></b>&nbsp;{{forceSymbol(fortitude())}},
            <b><abbr title="Volonté">Vol</abbr></b>&nbsp;{{forceSymbol(will())}}
          </div>
          <div class="BDtexte" v-if="races[race].resist">
            <b>Résistance</b>
            <span v-for="(resist, i) in races[race].resist"><span v-if="i != 0">, </span>{{resist.name}}
              {{resist.value}}
            </span>
          </div>
          <div class="BDtexte" v-if="races[race].vulnerability">
            <b><a
                href="https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.Vuln%C3%A9rabilit%C3%A9s%20(capacit%C3%A9).ashx"
                class="pagelink" title="vulnérabilité">Vulnérabilité</a></b>
            <span v-for="(vulnerability, i) in races[race].vulnerability"><span v-if="i != 0">,
              </span>{{vulnerability}}</span>
          </div>
        </section>
        <section style="grid-row:1;grid-column:2" v-if="!!thumbnail">
          <img height="221" :src="thumbnail" :alt="title">
        </section>
        <section style="grid-row:1;grid-column:2; z-index: 1; display: flex; align-items: flex-end; padding-bottom: 5px; opacity: 0.8;" v-if="!!petThumbnail">
          <img height="100" :src="petThumbnail" alt="pet">

        </section>
      </div>
      <div class="BDsoustitre">Attaque</div>
      <!-- <div class="BDtexte">
          <b>VD</b> 9 m (6 <abbr title="cases">c</abbr>)
        </div> -->
      <div class="BDtexte"><b>Corps à corps</b> {{meleeAttack()}}</div>
      <div class="BDtexte" v-if="classes[vocation].ranged">
        <b>À distance</b> {{rangedAttack()}}
      </div>
      <div class="BDtexte" v-if="classes[vocation].specialAttacks">
        <b>Attaque spéciale</b> {{specialAttacks()}}
      </div>

      <div class="BDtexte" v-if="classes[vocation].spells">
        <!-- https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.lancer%20des%20sorts.ashx#TESTCONCENTRATION -->
        <b>Sorts</b> (<abbr title="Niveau de Lanceureuse de Sort">NLS</abbr>
        {{level}} ; concentration 1d20{{forceSymbol(concentration())}})
      </div>

      <div class="BDsorts" v-if="
        classes[vocation].spells
        && (classes[vocation].levels
          && level - 2 >= 0
          && (classes[vocation].levels[level - 2].spells?.level2 ?? false))
        && ['witch', 'rogue', 'warpriest', 'druid', 'brawler'].includes(classes[vocation].key)">
        2<sup>e</sup><template v-if="classes[vocation].spellsPerDay && classes[vocation].levels">
          ({{classes[vocation].levels[level -
          2].spellsPerDay.level2}}/jour)</template>
        —
        <span v-for="(spell, i) of ((classes[vocation].spells.level2 ?? [])
        .concat(level > 1 && classes[vocation].levels ? (classes[vocation].levels[0].spells?.level2 ?? []) : [])
        .concat(level > 2 && classes[vocation].levels ? (classes[vocation].levels[1].spells?.level2 ?? []) : [])
        .concat(level > 3 && classes[vocation].levels ? (classes[vocation].levels[2].spells?.level2 ?? []) : []))">
          <span v-if="i != 0">, </span><i><a class="pagelink" :href="spell.link"
              :title="spell.name + ': ' + spell.description">{{spell.name}}</a><span v-if="spell.save">
              (<abbr v-bind:title="abbr(spell.save)">{{spell.save}}</abbr>
              <abbr v-bind:title="abbr('dd')">DD</abbr> {{dd(2)}})</span>
          </i></span>
      </div>

      <!-- https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.PNJ%20%c3%89rudits.ashx#MAGICIENAMATEUR -->
      <div class="BDsorts" v-if="classes[vocation].spells">
        1<sup>er</sup><template v-if="classes[vocation].spellsPerDay">
          ({{classes[vocation].spellsPerDay.level1}}/jour)</template>
        —
        <span v-for="(spell, i) of (classes[vocation].spells.level1
          .concat(level > 1  && classes[vocation].levels ? classes[vocation].levels[0].spells.level1 : [])
          .concat(level > 2 && classes[vocation].levels ? (classes[vocation].levels[1].spells?.level1 ?? []) : [])
          .concat(level > 3 && classes[vocation].levels ? (classes[vocation].levels[2].spells?.level1 ?? []) : []))">
          <span v-if="i != 0">, </span><i><a class="pagelink" :href="spell.link"
              :title="spell.name + ': ' + spell.description">{{spell.name}}</a><span v-if="spell.save">
              (<abbr v-bind:title="abbr(spell.save)">{{spell.save}}</abbr>
              <abbr v-bind:title="abbr('dd')">DD</abbr> {{dd(1)}})</span>
          </i></span>
      </div>

      <div class="BDsorts" v-if="classes[vocation].spells">
        0 (à volonté) —
        <span
          v-for="(spell, i) of (classes[vocation].spells.level0.concat(level > 1 && classes[vocation].levels ? classes[vocation].levels[0].spells.level0 : []).concat(level > 2 && classes[vocation].levels ? (classes[vocation].levels[1].spells?.level0 ?? []) : []))">
          <span v-if="i != 0">, </span><i><a class="pagelink" :href="spell.link"
              :title="spell.name + ': ' + spell.description">{{spell.name}}</a><span v-if="spell.save">
              (<abbr v-bind:title="abbr(spell.save)">{{spell.save}}</abbr>
              <abbr v-bind:title="abbr('dd')">DD</abbr> {{dd(0)}})</span>
          </i>
        </span>
      </div>

      <div class="BDsoustitre">Caractéristiques</div>
      <div class="BDtexte">
        <b><abbr title="Force">For</abbr></b> {{ strength() }} ({{
        forceSymbol(str()) }}), <b><abbr title="Dextérité">Dex</abbr></b> {{
        dexterity() }} ({{ forceSymbol(dex()) }}),
        <b><abbr title="Constitution">Con</abbr></b> {{ constitution() }} ({{
        forceSymbol(con()) }}),
        <b><abbr title="Intelligence">Int</abbr></b> {{ intelligence() }} ({{
        forceSymbol(int()) }}), <b><abbr title="Sagesse">Sag</abbr></b> {{
        wisdom() }} ({{ forceSymbol(wis()) }}),
        <b><abbr title="Charisme">Cha</abbr></b> {{ charisma() }} ({{
        forceSymbol(cha()) }})
      </div>
      <div class="BDtexte">
        <b><abbr title="Bonus de Base à l'Attaque">BBA</abbr></b>
        +{{baseba()}},
        <b><abbr title="Bonus de Manoeuvre Offensive">BMO</abbr></b>
        {{forceSymbol(bmo())}},
        <b><abbr title="Degré de Manoeuvre Défensive">DMD</abbr></b> {{dmd()}}
      </div>
      <div class="BDtexte">
        <b>Dons</b>
        <span v-for="(feat, i) of feats()">
          <span v-if="i != 0">, </span><a v-if="typeof feat === 'object'" class="pagelink" :title="feat.description"
            :href="feat.link">{{ feat.name }}</a><template v-if="typeof feat === 'string'">{{feat}}</template>
        </span>
      </div>
      <div class="BDtexte">
        <b>Traits</b>
        <span v-for="(trait, i) of traits()">
          <span v-if="i != 0">, </span><a v-if="typeof trait === 'object'" class="pagelink" v-bind:title="trait.name"
            :href="trait.link">{{ trait.name }}</a><template v-if="typeof trait === 'string'">{{trait}}</template>
        </span>
      </div>
      <div class="BDtexte">
        <b>Compétences</b>
        <template v-for="(skill, i) in orderByKey(skills(), 'translation')"><template v-if="i != 0">, </template><a
            class="pagelink" v-bind:title="skill.detail" :href="buildSkillHref(skill.translation)">{{ skill.translation
            }}</a>&nbsp;{{ forceSymbol(skill.total) }}</template>
      </div>
      <div class="BDtexte">
        <b>Langues</b>
        <span v-for="(language, i) in languages()"><template v-if="i != 0">, </template>{{language}}</span>
      </div>
      <div class="BDtexte">
        <b>Particularités</b>
        <span v-for="(feature, i) of features()">
          <span v-if="i != 0">, </span><a v-if="typeof feature === 'object'" class="pagelink"
            v-bind:title="feature.name" :href="feature.link">{{ feature.name }}</a><template
            v-if="typeof feature === 'string'">{{feature}}</template>
        </span>
      </div>
      <div class="BDtexte">
        <b>Équipement</b>
        {{classes[vocation].armor.translation.toLowerCase()}},
        <span v-if="classes[vocation].shield">{{classes[vocation].shield.translation.toLowerCase()}},</span>
        <span v-if="classes[vocation].ranged">{{classes[vocation].ranged.ammunition}},</span>
        <span v-for="(item, i) of gear()">
          <span v-if="i != 0">, </span><a v-if="typeof item === 'object'" class="pagelink"
            v-bind:title="item.name" :href="item.link">{{ item.name }}</a><template
            v-if="typeof item === 'string'">{{item}}</template>
        </span>
      </div>
      <div class="BDtexte">
        <b>Diver</b> {{buildRarity()}} <br />
        <span v-for="(note, i) of buildNotes()">
          <span v-if="i != 0">,<br /></span><a v-if="typeof note === 'object'" class="pagelink"
            v-bind:title="note.description" :href="note.link">{{ note.name }}</a><template
            v-if="typeof note === 'string'">{{note}}</template>
        </span>
      </div>
    </div>
    <div id="download">
      <button type="button" onclick="window.print()">Télécharger</button>
    </div>
  </div>

  <script src="vue.js"></script>
  <script src="lib.js"></script>
  <script src="characters.data.js"></script>
  <script src="levels.data.js"></script>
  <script src="data.js"></script>
  <script src="app.js"></script>
</body>

</html>
