:root {
  --background: #fff;
  --text-color: #323232;
  --link: #2244bb;
  --sub-background: #f3efe2;
  --header-background: #4b3124;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #20262e;
    --text-color: #e5e5e5;
    --link: #ab6747;
    --sub-background: #254858;
    --header-background: #1f3c4a;
  }
}

body {
  background: #20262e;
  padding: 20px;
  display: grid;
  place-items: center;
}

#app {
  background: var(--background);
  color: var(--text-color);
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
  max-width: 800px;
}

select {
  font-family: "Consolas", "Courier New", Courier, monospace;
}

#download {
  margin-top: 1rem;
  display: grid;
  place-items: center;
}

button {
  padding: 1rem;
}

.capitalize {
  text-transform: capitalize;
}

a.pagelink {
  text-decoration: none;
  color: var(--link);
}

a.pagelink:hover {
  text-decoration: underline;
}

#header {
  font-size: 2rem;
  padding: 0.5rem;
  background: var(--header-background);
  color: white;
  margin-bottom: 1rem;
}

#toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 800px;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.ml-1 {
  margin-left: 0.5rem;
}

.BD {
  max-width: 800px;
  font-family: corbel, trebuchet ms, verdana, sans-serif;
  font-size: 15px;
  text-align: left;
  background: var(--background);
  color: var(--text-color);
}

.BD .BDtitre {
  background-color: var(--header-background);
  color: #fff;
  font-weight: bold;
  padding: 2px 4px;
  text-indent: 0;
  font-size: 110%;
}

.BD .BDtexte {
  padding: 1px 0 1px 8px;
  text-indent: -8px;
  text-align: left;
}

.BD .BDsoustitre,
.BD div.box {
  background-color: var(--sub-background);
  color: var(--text-color);
  padding: 0 1px 0 1px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-indent: 0;
  margin: 1px 0;
}

.BD .BDsorts {
  padding: 1px 0 1px 16px;
  text-indent: -8px;
  text-align: left;
  font-size: 105%;
}

@media print {
  #header,
  #toolbar,
  #download {
    display: none;
  }
}
